{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facts</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/stylesheet.css'%}">
</head>
<body>
    <ul id="navbar">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'news' %}">News</a></li>
        <li><a href="{% url 'head' %}">Head of city</a></li>
        <li><a href="{% url 'facts' %}">Facts</a></li>
        <li><a href="{% url 'history' %}">History</a>
            <ul>
                <li><a href="{% url 'history+' 'people'%}">People</a></li>
                <li><a href="{% url 'history+' 'photos'%}">Photos</a></li>
            </ul>
        </li>
        <li><a href="{% url 'contacts' %}">Contacts</a></li>

    </ul>
    <h1>Факти про наше місто</h1>
<p>
   - Павловський цукровий завод був найбільшим у Європі! Чому Павловський? Старший Харитоненко назвав його на честь сина Павла.<br>
- Зараз складно уявити, але навпроти полотняної фабрики відразу за Харківським мостом на березі Псла був перший в Сумах парк. Називався він сад “Швейцарія” і був дуже красивим. <br>
- До революції на тому місці, де зараз Макдональдс, знаходився цирк. <br>
- Міський парк ім. Кожедуба спочатку був публічним садом, який заснував зять Харитоненка – Лещинський (тому й називається та частина, з якою він починається, парк Лещинських). Через кілька років вхід в сад став платним – 5 копійок по вихідних. А в 1933 році (якраз в пік голодомору) парк придбав нинішній вигляд.<br>
</p>

</body>
</html>